@model ConversionExcel.Models.Process
@using HtmlHelpers.BeginCollectionItem;

@using (Html.BeginCollectionItem("Processes"))
{
    <div id="ProcessingList" class="container">
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">処理内容 @ViewBag.Count：</label>
            <div class="col-sm-10">
                <select id="shori-@ViewBag.Count" class="form-control" onchange="selectChange()">
                    <option>書き込み</option>
                </select>
                <p class="form-inline">
                    <input type="text" class="form-control" id="argument-@ViewBag.Count-1" style="width:19.6%">
                    <input type="text" class="form-control" id="argument-@ViewBag.Count-2" style="width:19.6%">
                    <input type="text" class="form-control" id="argument-@ViewBag.Count-3" style="width:19.6%">
                    <input type="text" class="form-control" id="argument-@ViewBag.Count-4" style="width:19.6%">
                    <input type="text" class="form-control" id="argument-@ViewBag.Count-5" style="width:19.6%">
                </p>
            </div>
        </div>
    </div>
}
