@{
    ViewBag.Title = "Home Page";
}
@{
    Layout = null;
}
@model ConversionExcel.Models.Parent

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Excelを変換するサイト</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(function () {
            $('#add').click(function () {
                var count = (document.getElementById('contents').innerHTML.match(/処理内容/g) || []).length;
                // Ajax通信を開始する
                $.ajax({
                    data: { count: count },
                    type: "POST",
                    url: "/Home/btnAdd_Click",
                    success: function (partialView) {
                        $('#contents').append(partialView);
                        console.log('成功');
                    },
                    error: function () {
                        console.log('失敗');
                    }
                })
            });
        });
        //$(window).on('beforeunload', function (e) {
        //    return '';
        //});
    </script>
</head>
<body>
    <header class="container">
        <div id="title">
            <h1>Excelを変換するサイト</h1>
        </div>
    </header>
    <form>
        <div class="container">
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">読込Excel：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPath">
                </div>
            </div>
        </div>
    </form>
    <form id="contents">
        @foreach (var process in Model.Processes)
        {
            @Html.Partial("_Processes", process)
        }
    </form>
    <footer>
        <div class="container">
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">出力パス：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="outputPath">
                </div>
            </div>
            <div align="right">
                <button id="add" name="contents" class="btn-square-shadow">追加</button>
                <button id="readConfiguration" class="btn-square-shadow">設定読込</button>
                <button id="save" class="btn-square-shadow">保存</button>
                <button id="execute" class="btn-square-shadow">実行</button>
                <button id="exeOutPut" class="btn-square-shadow">exe出力</button>
            </div>
        </div>

    </footer>
</body>
</html>