@{
    ViewBag.Title = "Home Page";
}
@{
    Layout = null;
}
@model ConversionExcel.Models.Parent

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Excelを変換するサイト</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/SelectChange.js"></script>
    <script src="~/Scripts/ExecuteClick.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#add').click(function () {
                var count = (document.getElementById('Processes').innerHTML.match(/処理内容/g) || []).length;
                // Ajax通信を開始する
                $.ajax({
                    data: { count: count },
                    type: "POST",
                    url: "/Home/add_Click",
                    success: function (partialView) {
                        $('#Processes').append(partialView);
                        console.log('成功');
                    },
                    error: function () {
                        console.log('失敗');
                    }
                })
            });
            $("#readConfiguration").on("click", () => {
                $("#readConfigurationDisplayNone").click();
                return false;
            });
        });
                                        //$(window).on('beforeunload', function (e) {
                                        //    return '';
                                        //});
    </script>
</head>
<body>
    <header class="container">
        <div id="title">
            <h1>Excelを変換するサイト</h1>
        </div>
    </header>
    <form id="mainForm">
        <div class="container">
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">読込Excel：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="readPath" name="ReadPath" placeholder="例：C:\作業\読込Excel.xlsx" value="C:\Users\aoike\Desktop\読込Excel.xlsx">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">出力Excel：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="outputPath" name="OutputPath" placeholder="例：C:\作業\出力Excel.xlsx" value="C:\Users\aoike\Desktop\出力Excel.xlsx">
                </div>
            </div>
        </div>
        <div id="Processes">
            @foreach (var process in Model.Processes)
            {
                @Html.Partial("_Processes", process)
            }
        </div>
    </form>
    <footer>
        <div class="container">
            <div align="right">
                <button id="add" class="btn-square-shadow">追加</button>
                <input type="file" accept=".xlsx" id="readConfigurationDisplayNone" style="display:none"/>
                <button id="readConfiguration" class="btn-square-shadow">設定読込</button>
                <button id="save" class="btn-square-shadow">保存</button>
                <button id="execute" class="btn-square-shadow">実行</button>
                <button id="exeOutPut" class="btn-square-shadow">exe出力</button>
            </div>
        </div>
    </footer>
</body>
</html>