body {
    padding-top: 10px;
    padding-bottom: 20px;
    /* 背景をグラデーションにする */
    /*background: linear-gradient(45deg, #66cdaa, #e0ffff);*/
    background: radial-gradient(#f0f8ff, #e6e6fa);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.btn-square-shadow {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8; /*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}

    .btn-square-shadow:active {
        /*ボタンを押したとき*/
        -webkit-transform: translateY(4px);
        transform: translateY(4px); /*下に動く*/
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2); /*影を小さく*/
        border-bottom: none;
    }

.btn-box {
    display: inline-block;
    width: 100px;
    text-align: center;
    font-size: 16px;
    color: ghostwhite;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    position: relative;
    border: 2px solid ghostwhite;
    transition: .4s;
    background-color: transparent;
}

    .btn-box:hover {
        border: 2px solid transparent;
        color: #FFF;
    }

    .btn-box:before, .btn-box:after {
        width: 100%;
        height: 100%;
        z-index: 3;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        transform: scale(0);
        transition: .2s;
    }

    .btn-box:before {
        border-bottom: 2px solid #FFF;
        border-left: 2px solid #FFF;
        transform-origin: 100% 0%;
    }

    .btn-box:after {
        border-top: 2px solid #FFF;
        border-right: 2px solid #FFF;
        transform-origin: 0% 100%;
    }

    .btn-box:hover:after,
    .btn-box:hover:before {
        transform: scale(1);
    }
